

<!-- <div class="card__wrapper">
        <div class="card__price">$16.95</div>
        <div class="card__counter">
            <button class="card__btn">-</button>
            <div class="card__counter-score">2</div>
            <button class="card__btn card__btn-plus">+</button>
        </div>
    </div> -->