<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>E-commerce Admin Page</title>
  <link rel="stylesheet" href="/admin.css">
  <link rel="stylesheet" href="/header.css">
  <link rel="stylesheet" href="/productCard.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body>
  <%- include('partials/header') %>
    <div class="container">
      <div class="admin-container">
        <h1>Add New Product</h1>
        <form class="product-form" action="/product" id="form-update" method="POST" enctype="multipart/form-data">
          <label for="product-name">Product Name:</label>
          <input type="text" id="product-name" name="productName" required>

          <label for="product-description">Product Description:</label>
          <textarea id="product-description" name="productDescription" required></textarea>

          <label for="product-price">Product Price:</label>
          <input type="number" id="product-price" name="productPrice" required>

          <label for="product-quantity">Product Quantity:</label>
          <input type="number" id="product-quantity" name="productQuantity" required>

          <label for="product-image">Product Image:</label>
          <input type="file" id="product-image" name="avtar" required>
          <p id="alerts"></p>

          <button type="submit" id="Addbtn">Add Product</button>
        </form>
      </div>
      <div class="show">
        <main id="main">
          <h2> Card Display </h2>
        </main>
      </div>
    </div>
    <div id="display">

    </div>
    <script src="/admin.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"></script>
</body>

</html>